{% extends "panel.html" %}
{% load static %}
{% block contenido %}
    <div class="contenedor_principal rounded-2 ">
            <!--Primer contenedor del general -->
        <div class='p-2 d-flex justify-content-between rounded-1 info'>
            <div class='d-flex gap-3 align-items-center'>
                <div class="imagen-contacto">
                    {% if contexto.grupo.url_imagen %}
                        <img src="{{ contexto.grupo.url_imagen }}" class="rounded-circle" alt="Foto de perfil">    
                    {% else %}
                        <img src="{% static '/img/grupo.png' %}" class="rounded-circle" alt="Foto de perfil">
                    {% endif %}
                </div>
                <p class='fs-5 text-white nombre-contacto'>{{contexto.grupo.Nombre_Grupo}}</p>
            </div>

            <div class='d-flex justify-content-between align-items-center gap-3'>
                <form action="" method="POST" id="form-panel-grupo">
                    {% csrf_token %}
                    <input type="hidden" name="opc" value="" id="input-opc-form-grupo">
                    <input type="hidden"name="grupo_id" value="{{contexto.grupo.id}}">
                </form>
                
                <button class="btn btn-outline-primary outline_info rounded-5" id="btn-get-config-grupo">
                    Configuración
                </button>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="opc" value="get-miembros-grupo">
                    <input type="hidden" name="grupo_id" value="{{contexto.grupo.id}}">
                    <button class="btn btn-outline-primary outline_info rounded-5" id="btn-get-miembros-grupo">
                        Miembros
                    </button>
                </form>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="opc" value="solicitud-grupo-id">
                    <input type="hidden" name="listagrupos-id-post" value="{{contexto.grupo.id}}">
                    <button type="submit" class="btn btn-outline-primary outline_info rounded-5 d-none" id="btn-get-blog-grupo">
                        Blog
                    </button>
                </form>
                <div id='info_grupo'>
                    <button class="btn btn-primary outline_info rounded-5" data-bs-toggle="modal" data-bs-target="#GrupoInfo">
                        Info
                    </button>
                </div>
                    
                <!-- Modal de info -->
                <div class="modal fade" id="GrupoInfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog  modal-dialog-centered">
                        <div class="modal-content modal-info-contacto">
                            <div class="modal-header d-flex gap-4">
                                <div class="imagen-info text-center ">
                                    {% if contexto.grupo.url_imagen %}
                                        <img src="{{ contexto.grupo.url_imagen }}" class="rounded-circle" alt="Foto de perfil">    
                                    {% else %}
                                        <img src="{% static '/img/grupo.png' %}" class="rounded-circle" alt="Foto de perfil">
                                    {% endif %}
                                </div>
                                <div  class='d-flex flex-column align-items-center '>
                                    <p class='text-white text-capitalize fw-bold fs-3 verdana'>{{contexto.grupo.Nombre_Grupo}}</p>
                                </div>
                            </div>
                            <div class="modal-body text-white ">
                                <p class='fw-bold verdana numero text-white text-capitalize'>{{contexto.grupo.Info}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="contenedor-publicaciones-grupales">
            <div class='text-white justify-content-between w-100 1 align-items-center gap-3 d-flex h-100 w-75'>
                <div class='d-flex flex-column container_public h-100 w-100 align-items-center px-5' >
                    {% if contexto.Admin %}
                        <h3 class="h3 py-2">Lista de Solicitudes</h3>
                        {% if solicitudes %}
                            <form action="" method="POST" id="form-solicitudes">
                                {% csrf_token %}
                                <input type="hidden" name="opc" id="opc-form-solicitudes" value="">
                                <input type="hidden" name="username" id="username-form-solicitudes" value="">
                                <input type="hidden" name="grupo_id" value="{{contexto.grupo.id}}">
                            </form>
                            <div class="w-100 container-fluid px-5 overflow-y-auto">
                                {% for cc in solicitudes %}
                                    <div clss="d-flex px-5">
                                        <button class='boton_usuario px-3 text-start contacto form-control d-flex justify-content-between rounded-1 align-items-center text-capitalize fs-5 verdana activo' id="{{cc.Usuario_ID.username}}">
                                            <div class="contacto-container d-flex align-items-center justify-content-between gap-4">
                                                <div class="imagen-contacto">
                                                    {% if cc.Usuario_ID.url_foto_perfil %}
                                                        <img src="{{cc.Usuario_ID.url_foto_perfil}}" class="rounded-circle" alt="Foto de perfil">    
                                                    {% else %}
                                                        <img src="{% static '/img/usuario.png' %}" class="rounded-circle" alt="Foto de perfil">
                                                    {% endif %}
                                                </div>
                                                <p class="nombre-contacto text-capitalize">{{cc.Usuario_ID.username}}</p>
                                            </div>
                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="d-inline bi bi-check-circle-fill aceptar" viewBox="0 0 16 16" username="{{cc.Usuario_ID.username}}" username="{{cc.Usuario_ID.username}}">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="d-inline bi bi-x-circle cancelar" viewBox="0 0 16 16" username="{{cc.Usuario_ID.username}}">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                                </svg>
                                            </div>
                                        </button>  
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                                <h3 class="pt-5 h4 text-white">No hay solicitudes</h3>
                        {% endif %}

                    {% else %}
                        <div class="mt-5 pt-5 px-2 h-100 d-flex justify-content-center align-content-center align-items-center">
                            <h3 class="mt-8 pt-5 h4 text-white">Usted no es Administrador</h3>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>


        <div id="contenedor-configuracion-grupo" class="d-none">
            <div class='w-100 d-flex h-100'>
                <div class='w-50 h-100 d-flex flex-col justify-content-start align-items-center gap-4 py-4'>
                    {% if contexto.Admin %}
                        <div class="imagen-configuracion">
                            {% if  contexto.grupo.url_imagen %}
                                <img src="{{ contexto.grupo.url_imagen }}" class="rounded-circle" alt="Foto de perfil">
                            {% else %}
                                <img src="{% static '/img/grupo.png' %}" class="rounded-circle" alt="Foto de perfil">
                            {% endif %}
                            
                            <p class="text-4xl text-white text-center">{{contexto.grupo.Nombre_Grupo}}</p>
                        </div>
                        
                        <div class='w-100 d-flex flex-col justify-content-center gap-3 align-items-center'>
                            <div class="w-100 d-flex flex-col justify-content-center gap-3 align-items-center">
                                <a class="btn btn-primary rounded-5 w-50" data-bs-toggle="modal" data-bs-target="#config-cambiar-foto-perfil-grupo">
                                    Actualizar Foto de Perfil de Grupo
                                </a>
                                
                                <form action="" method="POST" class="d-flex justify-content-center w-100">
                                    {% csrf_token %}
                                    <input type="hidden" name="opc" value="get-atender-solicitudes">
                                    <input type="hidden" name="grupo_id" value={{contexto.grupo.id}}>
                                    <button type="submit" class="btn btn-primary rounded-5 w-50 d-block">
                                        Atender Solicitudes
                                    </button>
                                </form>

                                <a class="btn btn-danger rounded-5 w-50" data-bs-toggle="modal" data-bs-target="#config-eliminar-grupo">
                                    Eliminar Grupo
                                </a>
                            </div>
                        </div>
            
                        <div class="modal fade" id="config-cambiar-foto-perfil-grupo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog  modal-dialog-centered">
                                <div class="modal-content modal-info-contacto">
                                    <div class="modal-header d-flex gap-4">
                                        <div  class='d-flex flex-column align-items-center '>
                                            <p class='text-white fw-bold fs-3 verdana text-center'>Actualizar foto de perfil</p>
                                        </div>
                                    </div>
                                    <div class="modal-body text-white ">
                                        <form action="" method="POST" enctype="multipart/form-data" >
                                            {% csrf_token %}
                                            <input type="hidden" name="opc" value="config-cambiar-foto-perfil-grupo">
                                            <input type="hidden" name="grupo_id" value="{{contexto.grupo.id}}">
                                            <div class="mb-3">
                                                <label for="formFile" class="form-label fs-5">Suba una foto de perfil</label>
                                                <input type="file" class="form-control bg-dark text-white" name="imagen" accept="image/*" id="formFile" required>
                                            </div>
                                            <div class="modal-footer mt-4">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary" id="config-guardar-cambio-clave">Guardar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="modal fade" id="config-eliminar-grupo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog  modal-dialog-centered">
                                <div class="modal-content modal-info-contacto">
                                    <div class="modal-header d-flex gap-4">
                                        <div  class='d-flex flex-column align-items-center '>
                                            <p class='text-white fw-bold fs-3 verdana'>Confirmacion de eliminacion de Grupo</p>
                                        </div>
                                    </div>
                                    <p class='verdana fw-light text-white my-5 px-5'>Si elimina este grupo no podra recuperarlo. Todos los datos seran eliminados permanentemente.</p>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <form action="" method="POST" >
                                            {% csrf_token %}
                                            <input type="hidden" name="opc" value="config-eliminar-grupo">
                                            <input type="hidden" name="grupo_id" value="{{contexto.grupo.id}}">
                                            <input type="submit" class="btn btn-danger" id="config-eliminar-cuenta" value="Eliminar Grupo">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='w-50 d-flex flex-column align-items-center p-3'>
                        <div class='d-flex flex-column gap-3 form-control overflow-y-auto'
                            style="background-color:#212529; color:white">
                            <p class="text-center fs-3 mt-2">Configuracion</p>
                            <form action="" method="POST" class="my-3">
                                {% csrf_token %}
                                <input type="hidden" name="opc" value="config-grupo-cambiar-info">
                                <input type="hidden" name="grupo_id" value="{{contexto.grupo.id}}">
                                <label class='d-block w-100 fs-5'>Nombre del Grupo</label>
                                <input type='text' value='{{contexto.grupo.Nombre_Grupo}}' name="input_nombre_grupo" class='form-control w-100' required>
                            
                                <label class='d-block w-100 fs-5 mt-3'>Info</label>
                                <input type='text' value='{{contexto.grupo.Info}}' name="input_info" class='form-control w-100'required>
            
                                <input type="submit" value="Guardar" class="btn btn-success d-block w-100 mt-5">
                            </form>
                        </div>
                    {% else %}
                        <div class="mt-5 pt-5 px-2 h-100 d-flex justify-content-center align-content-center align-items-center">
                            <h3 class="mt-8 pt-5 h4 text-white">Usted no es Administrador del Grupo</h3>
                        </div>
                    {% endif %}
                </div>    
            </div>
        </div>

    </div>



    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const contenedor = document.getElementById("container_public");
            const svgIzquierda = document.getElementById("svg-izquierda");
            const svgDerecha = document.getElementById("svg-derecha");
            const scrollStep = contenedor.clientWidth; // Desplazamiento equivalente al ancho de una imagen
          
            if (contenedor.scrollWidth > contenedor.clientWidth) {
              svgDerecha.classList.remove("d-none");
              svgIzquierda.classList.remove("d-none");
            } else {
              svgDerecha.classList.add("d-none");
              svgIzquierda.classList.add("d-none");
            }
          
            svgIzquierda.addEventListener("click", function () {
              const newScrollLeft = Math.max(0, contenedor.scrollLeft - scrollStep);
              animarScroll(contenedor.scrollLeft, newScrollLeft);
            });
          
            svgDerecha.addEventListener("click", function () {
              const newScrollLeft = Math.min(
                contenedor.scrollLeft + scrollStep,
                contenedor.scrollWidth - contenedor.clientWidth
              );
              animarScroll(contenedor.scrollLeft, newScrollLeft);
            });
          
            function animarScroll(start, end) {
              const duration = 1000; // Duración de la animación en milisegundos
              const startTime = performance.now();
              const elementos = contenedor.querySelectorAll("#poster");
              const intervalo = duration / elementos.length; // Intervalo entre cada imagen
          
              elementos.forEach((elemento, index) => {
                setTimeout(() => {
                  elemento.classList.add("hover-effect");
                  setTimeout(() => {
                    elemento.classList.remove("hover-effect");
                  }, 300); // Después de 1 segundo, eliminar la clase de efecto de hover
                }, index * intervalo); // Aplicar el efecto de hover en intervalos
              });
          
              function step(timestamp) {
                const elapsed = timestamp - startTime;
                const progress = Math.min(elapsed / duration, 1);
                contenedor.scrollLeft = start + (end - start) * progress;
          
                if (progress < 1) {
                  requestAnimationFrame(step);
                }
              }
          
              requestAnimationFrame(step);
              // Agregar clase de efecto de hover a los elementos durante 1 segundo
            }
            btn_solicitud_grupo=document.getElementById("btn-solicitud-grupo")
            if(btn_solicitud_grupo){
                btn_solicitud_grupo.addEventListener("click",function(e){
                    alert("click aqui")
                })
            }
        });

        document.addEventListener('DOMContentLoaded', function() {
            var btnEliminarSolicitud = document.getElementById("btn-eliminar-solicitud");
            var btnSolicitudGrupo = document.getElementById("btn-solicitud-grupo");
        
            if(btnEliminarSolicitud){
                btnEliminarSolicitud.addEventListener("click",function(e){
                    var input_opc_form_grupo=document.getElementById("input-opc-form-grupo")
                    input_opc_form_grupo.value="eliminar-solicitud-grupo"
                    var form_panel_grupo=document.getElementById("form-panel-grupo")
                    form_panel_grupo.submit()
                });
            }
        
            if(btnSolicitudGrupo){
                btnSolicitudGrupo.addEventListener("click",function(e){
                    var input_opc_form_grupo=document.getElementById("input-opc-form-grupo")
                    input_opc_form_grupo.value="solicitud-grupo"
                    var form_panel_grupo=document.getElementById("form-panel-grupo")
                    form_panel_grupo.submit()
                });
            }

            var svgs = document.querySelectorAll('.boton_usuario .aceptar');
            svgs.forEach(function(svg) {
                svg.addEventListener('click', function(event) {
                    event.stopPropagation();
                    document.getElementById("opc-form-solicitudes").value="aceptar_solicitud"
                    document.getElementById("username-form-solicitudes").value=this.getAttribute('username')
                    document.getElementById("form-solicitudes").submit()
                });
            });

            svgs = document.querySelectorAll('.boton_usuario .cancelar');
            svgs.forEach(function(svg) {
                svg.addEventListener('click', function(event) {
                    event.stopPropagation();
                    document.getElementById("opc-form-solicitudes").value="cancelar_solicitud"
                    document.getElementById("username-form-solicitudes").value=this.getAttribute('username')
                    document.getElementById("form-solicitudes").submit()
                });
            });
        });
    </script>
{% endblock %}





