{% extends "index.html" %}
{% load static %}

{% block meta %}
    <title>LinkWolf - Login</title>
{% endblock %}

{% block contenido %}
    <div class="bg-white p-8 rounded-xl shadow-md w-full sm:w-96">
        <img src="{% static './img/logo2.png' %}" class="h-40 rounded-xl mx-auto"/>
        <h1 class="text-2xl font-bold text-center mb-4">Welcome</h1>
        <form id="forget-form" action="" method="POST">
            {% csrf_token %}
            <input id="opc" value="send-email-forget" name="opc" type="hidden"/>
            
            <div class="mb-4">
                <label for="email" class="text-xl font-medium text-gray-700">Correo electrónico (Gmail)</label>
                <input for="btn-login" type="email" value="{{email}}" id="email" name="email" class="w-full px-3 py-2 mt-1 text-sm border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-gray-300 bg-gray-200">
            </div>
            
            {% if mensaje %}
                {% block error %}{% endblock %}
            {% endif %}
            <button id="btn-login" type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 rounded-md transition duration-300">Reestablecer Contraseña</button>
        </form>

        <form method="GET" action="/login">
            <div class="flex">
                <p class="text-lg text-center mt-4">Iniciar Sesión &nbsp; </p>
                <input type="submit" class="text-lg mt-4 text-blue-500 hover:underline" value="Login"/>
            </div>
        </form>
    </div>
    <script>
        email=document.getElementById("email")
        email.focus()
    </script>
{% endblock %}
