{% extends "panel.html" %}
{% load static %}
{% block contenido %}
    <div class="col-md-8 col-sm-8 col-lg-9 d-none d-sm-block rounded-5 p-1 d-flex flex-column gap-1 color">
        <div class='d-flex '>
            <img src="{% static '/img/pc.png' %}" style="width: 60%;
            height: 100%;">
        </div>
        <div class='w-100 d-flex px-5 '>
            <p class='fw-light fs-1 text-center text-white '>Comienza a Comunicarte en <span class='p-2 text_marca rounded-2 fw-bold '>OnlyHub</span></p>
        </div>
    </div>
{% endblock %}