{% extends "panel.html" %}
{% load static %}
{% block contenido %}
<div class="contenedor_principal rounded-2" >
    <div class='w-100 d-flex h-100'>
        <div class='w-50 pt-4 px-10 d-flex flex-col justify-content-start align-items-center overflow-y-auto'>
            <h3 class="h3 text-white mb-4">Resultado de Busqueda en Usuarios</h3>
            {% if resultado_usuarios %}
                {% for rc in resultado_usuarios %}
                    <button class='my-2 boton_usuario px-3 text-start contacto form-control d-flex justify-content-between rounded-1 align-items-center text-capitalize fs-5 verdana activo' id="{{rc.username}}">
                        <div class="contacto-container d-flex align-items-center justify-content-between gap-4">
                            <div class="imagen-contacto">
                                {% if rc.url_foto_perfil %}
                                    <img src="{{rc.url_foto_perfil}}" class="rounded-circle" alt="Foto de perfil">
                                {% else %}
                                    <img src="{% static '/img/usuario.png' %}" class="rounded-circle" alt="Foto de perfil">
                                {% endif %}
                                <!--<img src="{% static '/img/poster7.jfif' %}" class="rounded-circle" alt="Foto de perfil">-->
                            </div>
                            <p class="nombre-contacto">{{rc.username}}</p>
                        </div>
                        {% if rc.online %}
                            <div class='bg-success p-2 rounded-5 '>
                            </div>
                        {% else %}
                            <div class='bg-danger p-2 rounded-5 '>
                            </div>
                        {% endif %}            
                    </button>
                {% endfor %}
            {% else %}
                <h3 class="h4 text-white">No se encontró ningun usuario</h3>
            {% endif %}
        </div>
        
        
        
        
        
        
        
        <div class='w-50 pt-4 px-10 d-flex flex-col justify-content-start align-items-center overflow-y-auto'>
            <h3 class="h3 text-white mb-4">Resultado de Busqueda en Grupos</h3>
            {% if resultado_grupos %}
                {% for rg in resultado_grupos %}
                    <button class='boton_grupo px-3 text-start contacto form-control d-flex justify-content-between rounded-1 align-items-center text-capitalize fs-5 verdana activo' id={{rg.Grupo.id}}>
                        <div class="contacto-container d-flex align-items-center justify-content-between gap-4">
                            <div class="imagen-contacto">
                                {% if rg.Grupo.url_imagen %}
                                    <img src="{{rg.Grupo.url_imagen}}" class="rounded-circle" alt="Foto de perfil">
                                {% else %}
                                    <img src="{% static '/img/grupo.png' %}" class="rounded-circle" alt="Foto de perfil">
                                {% endif %}
                                <!--<img src="{% static '/img/poster7.jfif' %}" class="rounded-circle" alt="Foto de perfil">-->
                            </div>
                            <p class="nombre-contacto">{{rg.Grupo.Nombre_Grupo}}</p>
                        </div>
                        {% if rg.Admin %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.18.18 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.18.18 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.18.18 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.18.18 0 0 1-.134-.098z"/>
                            </svg>    
                        {% elif not rg.Admin and rg.Miembro %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
                                <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.18.18 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.18.18 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.18.18 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.18.18 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.18.18 0 0 0 .134-.098z"/>
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                            </svg>
                        {% endif %}
                    </button>
                {% endfor %}
            {% else %}
                <h3 class="h4 text-white">No se encontró ningun Grupo</h3>
            {% endif %}
        </div>    


    </div>
</div>

{% endblock  %}
