{% extends "index.html" %}
{% load static %}


{% block meta %}
    <title>OnlyHub - Forget Password</title>
{% endblock %}


{% block contenido %}
    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded-xl shadow-md w-full sm:w-96">
            <img src="{% static './img/logo2.png' %}" class="h-40 rounded-xl mx-auto"/>
            <h1 class="text-2xl font-bold text-center mb-4">Verificación Email</h1>
            <form action="" method="POST" opc="envio-tocken">
                {% csrf_token %} 
                <input type="hidden" value="envio-token" name="opc">       
                <div class="mb-4">
                    <label for="token" class="text-xl font-medium text-gray-700">Tocken de Seguridad</label>
                    <input for="bt-verify" type="text" id="token" name="token" class="w-full px-3 py-2 mt-1 text-sm border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-gray-300 bg-gray-200" required>
                </div>                    

                {% if mensaje %}
                    {% block error %}
                    {% endblock %}
                {% endif %}

                <button id="bt-verify" type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 rounded-md transition duration-300">Verificar</button>
            </form>

        
            <form method="POST" action="">
                {% csrf_token %} 
                <input type="hidden" value="cerrar-sesion" name="opc">       
                <div class="flex">
                    <input type="submit" class="mt-4 text-blue-500 hover:underline" value="Cerrar Sesion"/>
                </div>
            </form>
        </div>
    </div>   
{% endblock %}